{% from "macros/schedules.html" import courses_schedule %}
{% from "macros/short_courses.html" import courses_short %}

{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/schedule.css') }}" />
{% endblock %}

{% block main_content %}
    <div class="schedule__container">
        <div class="schedule__half">
            <div class="schedule__nav">
                <a href="{{ url_for('pages.preview_courses') }}" class="schedule__link">Weekly Schedule</a>
                <a href="{{ url_for('pages.preview_finals') }}" class="schedule__link">Final Schedule</a>
                <a href="{{ url_for('pages.preview_quarter') }}" class="schedule__link">Quarterly Calendar</a>
            </div>

            {{ courses_schedule(calendar) }}
        </div>

        <hr />

        <div class="schedule__half">
            <h1 class="schedule__title">Selected Courses</h1>

            {{ courses_short(courses) }}

            <div class="schedule__nav">
                <a href="{{ url_for('pages.cancel_select') }}" class="schedule__link">Cancel</a>
                <a href="{{ url_for('pages.filter_courses') }}" class="schedule__link">Add More Courses</a>
                <a href="{{ url_for('pages.confirm_schedule') }}" class="schedule__link">Confirm Schedule</a>
            </div>
        </div>
    </div>
{% endblock %}