{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listing.css') }}" />
{% endblock %}

{% block main_content %}
    <h1 class="listing__title">My Waitlists</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="table__header">Drop</th>
                <th class="table__header">Course Code</th>
                <th class="table__header">Course Name</th>
                <th class="table__header">Abbreviation</th>
                <th class="table__header">School</th>
                <th class="table__header">Type</th>
                <th class="table__header">Credits</th>
                <th class="table__header">Instructor</th>
                <th class="table__header">Modality</th>
                <th class="table__header">Days</th>
                <th class="table__header">Time</th>
                <th class="table__header">Location</th>
                <th class="table__header">Final</th>
                <th class="table__header">Status</th>
                <th class="table__header">Seats Taken</th>
                <th class="table__header">Current Position</th>
            </tr>
        </thead>

        <tbody>
            {% for course in courses %}
                <tr>
                    {% for item in course %}
                        {% if loop.first %}
                            {% if item == "Waitlisted" %}
                                <td class="table__item"><a href="{{ url_for('pages.drop_wait', code=course[1], current_page=request.path) }}" class="table__link">Drop</a></td>
                            {% else %}
                                <td class="table__item">Dropped</td>
                            {% endif %}
                        {% else %}
                            <td class="table__item">{{ item }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="listing__nav">
        <a href="{{ url_for('pages.user_courses') }}" class="listing__nav--button">
            <p class="listing__nav--text">Back to Courses</p>
        </a>
    </div>
{% endblock %}