.listing__title {
    text-align: center;
    color: #1154ad;
}

.criteria {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.criteria__list {
    margin-left: 1.5rem;
}

.table {
    width: 100%;
}

.table,
.table__header,
.table__item {
    border-collapse: collapse;
}

.table__header,
.table__item {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.table__header {
    background-color: #1154ad;
    color: white;
    border: 1px solid #1154ad;
}

.table__item {
    text-align: center;
    border: 1px solid black;
}

.table__link {
    color: blue;
    text-decoration: none;
}

.table__link:hover {
    text-decoration: underline;
}

.listing__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.listing__nav--button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.5rem;
  height: 2.7rem;
  margin: auto;
  text-decoration: none;
  background-color: #1154ad;
  color: white;
}

.listing__nav--button:hover {
  text-decoration: underline;
}

.listing__nav--text {
  font-weight: 600;
  text-align: center;
}